nodered/start1_led
[{"id":"a166dc83.a16da","type":"rpi-gpio out","z":"b9648d01.f0d8","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":515.4999847412109,"y":154.59999084472656,"wires":[]},{"id":"5a64ddce.28acac","type":"inject","z":"b9648d01.f0d8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":198.49998474121094,"y":129.99998474121094,"wires":[["a166dc83.a16da"]]},{"id":"2c2a9265.27e07e","type":"inject","z":"b9648d01.f0d8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":196.49998474121094,"y":212.99998474121094,"wires":[["a166dc83.a16da"]]}]
