nodered/start3_sensor
[{"id":"39f8fd2f.5a747a","type":"function","z":"40983dbc.680ebc","name":"Decode Message","func":"/* Message Decoder\n*  Orozco Hsu (2018-06)\n*/\nvar myMessage = {}\nvar newPayload = {};\nvar message = msg.payload.toString();\nmessage = message.replace(/(\\r\\n|\\n|\\r)/gm, \"\");\nvar tokens = message.split(\";\")\n\nif(tokens.length == 3)\n{\n    myMessage.nodeId =       tokens[0];\n    myMessage.messageType =  parseInt(tokens[1]);\n    myMessage.value =        Number(tokens[2]);\n\n    var messageType = myMessage.messageType;\n\n    switch (messageType) {\n        case 3:\n            newPayload.nodeId=      myMessage.nodeId;\n            newPayload.type=        myMessage.messageType;\n            newPayload.value=       myMessage.value;\n            break;    \n        case 4:\n            newPayload.nodeId=      myMessage.nodeId;\n            newPayload.type=        myMessage.messageType;\n            newPayload.value=       myMessage.value;\n            break;\n        \n        default:\n            break;\n    }\n\n    msg.payload = newPayload; \n} else {\n    msg.payload = \"Error! Nothing to decode\"\n}  \n\nreturn msg;","outputs":1,"noerr":0,"x":338.86669921875,"y":160.62791442871094,"wires":[["75908915.12963","cc7e0cf2.45ef6"]]},{"id":"75908915.12963","type":"function","z":"40983dbc.680ebc","name":"temperature","func":"if (msg.payload.type === 3) {\n    var msg;\n    msg.payload = msg.payload.value;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":606.7000122070312,"y":264,"wires":[["c5ec1518.1bb688","32f73679.92c9ea","497b3402.ef5d54"]]},{"id":"c5ec1518.1bb688","type":"ui_gauge","z":"40983dbc.680ebc","name":"Temperature","group":"1d30d39.256f12c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT11","label":"","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":894.7000122070312,"y":77,"wires":[]},{"id":"cc7e0cf2.45ef6","type":"function","z":"40983dbc.680ebc","name":"humidity","func":"if (msg.payload.nodeId === \"orozco\" && msg.payload.type === 4) {\n    var msg;\n    msg.payload = msg.payload.value;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":627.0888671875,"y":330.92767333984375,"wires":[["93e1c0ca.2cd128","390762f1.01b9e6"]]},{"id":"93e1c0ca.2cd128","type":"ui_gauge","z":"40983dbc.680ebc","name":"Humidity","group":"218336cd.e8741a","order":1,"width":"0","height":"0","gtype":"gage","title":"Humidity DHT11","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":913.0888671875,"y":253.92767333984375,"wires":[]},{"id":"32f73679.92c9ea","type":"ui_chart","z":"40983dbc.680ebc","name":"Tempertaure","group":"1d30d39.256f12c","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":905.7000122070312,"y":168.99998474121094,"wires":[[],[]]},{"id":"390762f1.01b9e6","type":"ui_chart","z":"40983dbc.680ebc","name":"Humidity","group":"218336cd.e8741a","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":915.199951171875,"y":346,"wires":[[],[]]},{"id":"497b3402.ef5d54","type":"debug","z":"40983dbc.680ebc","name":"Message debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":640.7000122070312,"y":79,"wires":[]},{"id":"ef82bdbd.bf5c58","type":"inject","z":"40983dbc.680ebc","name":"Set Humidity ","topic":"","payload":"orozco;4;76","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138.49998474121094,"y":290,"wires":[["69903901.b90d7"]]},{"id":"93c1d01d.9d00b8","type":"mqtt in","z":"40983dbc.680ebc","name":"","topic":"tcfst","qos":"2","broker":"c86f769e.460158","x":112.89999389648438,"y":161,"wires":[["39f8fd2f.5a747a"]]},{"id":"69903901.b90d7","type":"mqtt out","z":"40983dbc.680ebc","name":"","topic":"tcfst","qos":"2","retain":"","broker":"c86f769e.460158","x":381.9000244140625,"y":282.4000244140625,"wires":[]},{"id":"4c080b68.cef38c","type":"inject","z":"40983dbc.680ebc","name":"Set Temperature","topic":"","payload":"orozco;3;40","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142.5,"y":346,"wires":[["69903901.b90d7"]]},{"id":"98658d21.e64708","type":"rpi-dht22","z":"40983dbc.680ebc","name":"sensor","topic":"rpi-dht11","dht":"11","pintype":"0","pin":"17","x":300.9000244140625,"y":513.6000366210938,"wires":[["21313c59.8689b4"]]},{"id":"1b73fd53.d50b03","type":"inject","z":"40983dbc.680ebc","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138.49998474121094,"y":509,"wires":[["98658d21.e64708"]]},{"id":"21313c59.8689b4","type":"function","z":"40983dbc.680ebc","name":"Enrich data","func":"var t = msg.payload;\nvar h = parseInt((Math.random())*100);\n\nvar randomSwitch = parseInt((Math.random())*100);\nif (randomSwitch < 50) {\n    msg.payload = \"orozco;3;\" + t;\n} else {\n    msg.payload = \"orozco;4;\" + h;\n}\nreturn msg;","outputs":1,"noerr":0,"x":477.9000244140625,"y":493.60003662109375,"wires":[["4c936d35.09ad84","69903901.b90d7"]]},{"id":"4c936d35.09ad84","type":"debug","z":"40983dbc.680ebc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686.5,"y":458.4000244140625,"wires":[]},{"id":"1d30d39.256f12c","type":"ui_group","z":"","name":"Measure","tab":"a6f96bb1.fdbce8","order":1,"disp":true,"width":"6","collapse":false},{"id":"218336cd.e8741a","type":"ui_group","z":"","name":"Mesures1","tab":"a6f96bb1.fdbce8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c86f769e.460158","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m13.cloudmqtt.com","port":"17935","clientid":"test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6f96bb1.fdbce8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
