nodered/start4_sensor
[{"id":"2569c2e.bdc6e3e","type":"http request","z":"b60b555e.2e53","name":"","method":"GET","ret":"txt","url":"","tls":"","x":674.2000122070312,"y":289.20001220703125,"wires":[["28d0e9c2.ea5f2e"]]},{"id":"a7872db8.f236b","type":"change","z":"b60b555e.2e53","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":402.20001220703125,"y":312.20001220703125,"wires":[["2569c2e.bdc6e3e"]]},{"id":"28d0e9c2.ea5f2e","type":"debug","z":"b60b555e.2e53","name":"","active":false,"console":"false","complete":"false","x":877.2000122070312,"y":156.1999969482422,"wires":[]},{"id":"7f4b6f86.979908","type":"function","z":"b60b555e.2e53","name":"set temperate","func":"var http = \"https://api.thingspeak.com/update?api_key=7LAOABTV0FTEJKFU&field1=\";\nvar temperature = msg.payload;\nmsg.url = http + temperature;\nreturn msg;","outputs":1,"noerr":0,"x":322.9000244140625,"y":150.59999084472656,"wires":[["a7872db8.f236b"]]},{"id":"c3ed8ab4.5c1988","type":"inject","z":"b60b555e.2e53","name":"","topic":"","payload":"30","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.49998474121094,"y":444.99998474121094,"wires":[["5f0aa806.d7d83"]]},{"id":"5f0aa806.d7d83","type":"mqtt out","z":"b60b555e.2e53","name":"","topic":"temp","qos":"","retain":"","broker":"c86f769e.460158","x":367.9000244140625,"y":445.4000244140625,"wires":[]},{"id":"322d79ab.e1369e","type":"mqtt in","z":"b60b555e.2e53","name":"","topic":"temp","qos":"2","broker":"c86f769e.460158","x":146.89999389648438,"y":267,"wires":[["7f4b6f86.979908"]]},{"id":"8653663.03d5f98","type":"comment","z":"b60b555e.2e53","name":"Set temperature = 30","info":"","x":244.9000244140625,"y":499.5999755859375,"wires":[]},{"id":"c86f769e.460158","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m13.cloudmqtt.com","port":"17935","clientid":"test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
