nodered/test1
[{"id":"3a619a3a.5da2ce","type":"function","z":"10088d07.b41533","name":"Wait for all tasks to finish","func":"QueryID = msg.ID;\ncontext.data = context.data || {};\ncontext.data[QueryID] = context.data[QueryID] || {task1 : null, task2: null, task3: null};\n\nswitch (msg.topic) {\n    case \"task1\":\n        context.data[QueryID].task1 = msg.payload;\n        msg = null;\n        break;\n    case \"task2\":\n        context.data[QueryID].task2 = msg.payload;\n        msg = null;\n        break;\n    case \"task3\":\n        context.data[QueryID].task3 = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data[QueryID].task1 !== null && context.data[QueryID].task2 !== null && context.data[QueryID].task3 !== null) {\n\tmsg2 = {};\n    msg2 = context.data[QueryID];\n    delete context.data[QueryID];\n\treturn msg2;\n} else return msg;","outputs":1,"noerr":0,"x":691.2000122070312,"y":266.20001220703125,"wires":[["298fc0e.2e698c"]]},{"id":"22c5c289.5cc7ee","type":"delay","z":"10088d07.b41533","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":433.20001220703125,"y":175.20001220703125,"wires":[["3a619a3a.5da2ce"]]},{"id":"298fc0e.2e698c","type":"debug","z":"10088d07.b41533","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","x":898.2000122070312,"y":265.20001220703125,"wires":[]},{"id":"a4017433.a30208","type":"delay","z":"10088d07.b41533","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":437.20001220703125,"y":271.20001220703125,"wires":[["3a619a3a.5da2ce"]]},{"id":"a7ace682.2d34f8","type":"delay","z":"10088d07.b41533","name":"Random delay","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":556.2000122070312,"y":383.20001220703125,"wires":[["3a619a3a.5da2ce"]]},{"id":"18d614f0.15765b","type":"function","z":"10088d07.b41533","name":"Task1","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task1\";\nmsg.payload=\"Task1's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":265.20001220703125,"y":175.20001220703125,"wires":[["22c5c289.5cc7ee"]]},{"id":"2e75fee7.d73022","type":"function","z":"10088d07.b41533","name":"Task2","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task2\";\nmsg.payload=\"Task2's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":268.20001220703125,"y":270.20001220703125,"wires":[["a4017433.a30208"]]},{"id":"bd74a211.49c85","type":"function","z":"10088d07.b41533","name":"Task3","func":"msg.ID = msg.payload; //a unique ID given by the creator of this message.\nmsg.topic=\"task3\";\nmsg.payload=\"Task3's payload\"\nreturn msg;","outputs":1,"noerr":0,"x":334.20001220703125,"y":393.20001220703125,"wires":[["a7ace682.2d34f8"]]},{"id":"13eac8e9.a4d207","type":"inject","z":"10088d07.b41533","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99.20001220703125,"y":259.20001220703125,"wires":[["18d614f0.15765b","2e75fee7.d73022","bd74a211.49c85"]]}]
