nodered/test4
[{"id":"336cbcb8.b7bd9c","type":"http in","z":"51f79da.c368f64","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":250.20001220703125,"y":279,"wires":[["aecdb2ad.9f3e3"]]},{"id":"aecdb2ad.9f3e3","type":"template","z":"51f79da.c368f64","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":483.20001220703125,"y":273,"wires":[["be0597d5.f941f8"]]},{"id":"be0597d5.f941f8","type":"http response","z":"51f79da.c368f64","name":"","x":726.2000122070312,"y":275,"wires":[]}]
