nodered/test3
[{"id":"b49383b9.9c23","type":"mqtt in","z":"6d922e51.410f7","name":"","topic":"temperature","qos":"2","broker":"c86f769e.460158","x":225.1999969482422,"y":252.1999969482422,"wires":[["d93db6fd.897748"]]},{"id":"12f631df.8bec9e","type":"debug","z":"6d922e51.410f7","name":"","active":true,"console":"false","complete":"false","x":729.2000122070312,"y":280.20001220703125,"wires":[]},{"id":"b7e703fa.58e86","type":"mqtt out","z":"6d922e51.410f7","name":"","topic":"temperature","qos":"","retain":"false","broker":"c86f769e.460158","x":652.2000122070312,"y":117.19999694824219,"wires":[]},{"id":"9496ab5a.461e08","type":"inject","z":"6d922e51.410f7","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"temperature\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"x":281.20001220703125,"y":128.1999969482422,"wires":[["b7e703fa.58e86"]]},{"id":"d93db6fd.897748","type":"json","z":"6d922e51.410f7","name":"","property":"payload","action":"","pretty":false,"x":458.20001220703125,"y":276.20001220703125,"wires":[["12f631df.8bec9e"]]},{"id":"c86f769e.460158","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m13.cloudmqtt.com","port":"17935","clientid":"test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
