nodered/test2
[{"id":"1cddd120.8fa18f","type":"mqtt out","z":"7d88fd2e.4c8464","name":"","topic":"test","qos":"","retain":"","broker":"c86f769e.460158","x":891.2000122070312,"y":74.19999694824219,"wires":[]},{"id":"91ec6bc7.d563c8","type":"inject","z":"7d88fd2e.4c8464","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":502.20001220703125,"y":149.1999969482422,"wires":[["1cddd120.8fa18f"]]},{"id":"7077eecb.6760f","type":"function","z":"7d88fd2e.4c8464","name":"parse JSON into 2 flows","func":"// parse JSON into a javascript object\nvar obj = JSON.parse(msg.payload);\n\n// rate node needs milliseconds in msg.timestanp\nvar milliSeconds = Date.parse(obj.Time);\n\n// set up the two outputs from this node\nvar msg1 = { payload: 91 , rate: 50, timestamp: milliSeconds};\nvar msg2 = { payload: 300, timestamp: milliSeconds};\n\nreturn [msg1, msg2] ;","outputs":"2","noerr":0,"x":152.1999969482422,"y":196.1999969482422,"wires":[["b7cdc993.7cf5","e009b785.2d33f","89f3cbc3.23b62","a41dc21.dfb934"],["a4228678.9f012"]],"outputLabels":["Humidity","Temperature"]},{"id":"b7cdc993.7cf5","type":"ui_chart","z":"7d88fd2e.4c8464","name":"","group":"235e26b4.31ed4a","order":1,"width":"0","height":"0","label":"Humidity (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":395.20001220703125,"y":457.20001220703125,"wires":[[],[]]},{"id":"a4228678.9f012","type":"ui_chart","z":"7d88fd2e.4c8464","name":"","group":"70e574a5.631854","order":3,"width":"0","height":"0","label":"Temperature (deg C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":326.20001220703125,"y":559.2000122070312,"wires":[[],[]]},{"id":"b422a66e.4f6ad","type":"ui_button","z":"7d88fd2e.4c8464","name":"","group":"78ef93d1.22a2fc","order":0,"width":0,"height":0,"passthru":false,"label":"toggle","color":"","bgcolor":"","icon":"","payload":"toggle","payloadType":"str","topic":"cmnd/bathroom/power","x":598.2000122070312,"y":66.19999694824219,"wires":[["1cddd120.8fa18f"]]},{"id":"49c3e153.9425d","type":"ui_text","z":"7d88fd2e.4c8464","group":"78ef93d1.22a2fc","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":366.20001220703125,"y":66.19999694824219,"wires":[]},{"id":"e009b785.2d33f","type":"switch","z":"7d88fd2e.4c8464","name":">= 90 % Humidity","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"90","vt":"num"}],"checkall":"true","outputs":1,"x":437.20001220703125,"y":307.20001220703125,"wires":[["2c717d71.976e0a"]]},{"id":"2c717d71.976e0a","type":"change","z":"7d88fd2e.4c8464","name":"fan on","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/bathroom/power","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":861.2000122070312,"y":261.20001220703125,"wires":[["1cddd120.8fa18f"]]},{"id":"89f3cbc3.23b62","type":"switch","z":"7d88fd2e.4c8464","name":"<88 % Humidity","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"89","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":427.20001220703125,"y":250.1999969482422,"wires":[["b43cda7b.e6d228"]]},{"id":"b43cda7b.e6d228","type":"change","z":"7d88fd2e.4c8464","name":"fan off","rules":[{"t":"set","p":"topic","pt":"msg","to":"cmnd/bathroom/power","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":641.2000122070312,"y":215.1999969482422,"wires":[["1cddd120.8fa18f"]]},{"id":"1e94903d.119e88","type":"ui_text","z":"7d88fd2e.4c8464","group":"78ef93d1.22a2fc","order":0,"width":0,"height":0,"name":"","label":"change","format":"{{msg.rate}}","layout":"row-spread","x":916.2000122070312,"y":442.20001220703125,"wires":[]},{"id":"c26ac880.1175f8","type":"change","z":"7d88fd2e.4c8464","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"rate","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":625.2000122070312,"y":544.2000122070312,"wires":[["b028d3.36b4473"]]},{"id":"b028d3.36b4473","type":"ui_chart","z":"7d88fd2e.4c8464","name":"","group":"70e574a5.631854","order":0,"width":0,"height":0,"label":"humidity change rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.3","ymax":"-0.3","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":880.2000122070312,"y":535.2000122070312,"wires":[[],[]]},{"id":"fd4cd613.d69e","type":"switch","z":"7d88fd2e.4c8464","name":">= 0.08 change rate","property":"rate","propertyType":"msg","rules":[{"t":"gte","v":"0.07","vt":"num"}],"checkall":"true","outputs":1,"x":706.2000122070312,"y":360.20001220703125,"wires":[["2c717d71.976e0a"]]},{"id":"9940b6db.3afab8","type":"switch","z":"7d88fd2e.4c8464","name":"2 decimal places","property":"rate","propertyType":"msg","rules":[{"t":"eq","v":"$floor(50*100+0.5)/100","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":672.2000122070312,"y":442.20001220703125,"wires":[["1e94903d.119e88"]]},{"id":"a41dc21.dfb934","type":"rate","z":"7d88fd2e.4c8464","name":"Humidity Change Rate","inputField":"payload","inputFieldType":"msg","outputField":"rate","outputFieldType":"msg","timestampField":"timestamp","timestampFieldType":"msg","ratePeriod":1000,"x":433.20001220703125,"y":380.20001220703125,"wires":[["c26ac880.1175f8","fd4cd613.d69e","9940b6db.3afab8"]]},{"id":"1348db44.a4c57d","type":"mqtt in","z":"7d88fd2e.4c8464","name":"","topic":"temperature","qos":"2","broker":"c86f769e.460158","x":147.1999969482422,"y":77.19999694824219,"wires":[["49c3e153.9425d"]]},{"id":"2c7e017d.e70276","type":"mqtt in","z":"7d88fd2e.4c8464","name":"","topic":"humidity","qos":"2","broker":"c86f769e.460158","x":99.79997253417969,"y":413,"wires":[[]]},{"id":"a3a0806e.9de1d","type":"inject","z":"7d88fd2e.4c8464","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118.49998474121094,"y":325,"wires":[["7077eecb.6760f"]]},{"id":"c86f769e.460158","type":"mqtt-broker","z":"","name":"CloudMQTT","broker":"m13.cloudmqtt.com","port":"17935","clientid":"test","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"235e26b4.31ed4a","type":"ui_group","z":"","name":"Graphs","tab":"98f24ec4.2ce73","disp":false,"width":"13","collapse":false},{"id":"70e574a5.631854","type":"ui_group","z":"","name":"Graphs","tab":"98f24ec4.2ce73","disp":false,"width":"13"},{"id":"78ef93d1.22a2fc","type":"ui_group","z":"","name":"Control","tab":"98f24ec4.2ce73","disp":false,"width":"3"},{"id":"98f24ec4.2ce73","type":"ui_tab","z":"","name":"Sonoff","icon":"dashboard"}]
